/*********


COMMON

***********************/

body {
  font-family: "Garamond", Georgia;
}

.font-primary {
  color: #00abae;
}

p {
  font-size: 14px;
}

h2 {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 20px;
}

a.font-black {
  color: #000 !important;
}

.title-icon {
  font-size: 25px;
  font-weight: bold;
}

/************

ABOUT

**************/

#about {
  margin: 60px auto;
  max-width: 400px;
  text-align: center;
}

#about img {
  width: 120px;
  margin-bottom: 10px;
  border-radius: 50%;
}

#about .name {
  font-size: 25px;
}

#about .vocation {
  font-size: 17px;
  color: black;
  margin-bottom: 10px;
}

#about .skills {
  font-size: 17px;
  color: #00abae;
  margin-bottom: 10px;
  font-weight: bold;
}

#about .email {
  margin-top: 14px;
  font-size: 14px;
}

#about .icons {
  margin-top: 20px;
  font-size: 30px;
}

#about .icons a {
  color: #4b0452;
}

/*****************

PROJECT

*********************/

#project {
  margin: 60px auto;
  width: 80%;
}

#project h2 {
  text-align: center;
}

#project .card img {
  width: 100%;
  background-color: rgb(238, 164, 137);
  text-align: left;
}

#project .card-title {
  font-weight: bold;
}
#video {
  width: 100%;
  max-height: 270px;
  background-color: black;
}
a.btn.brn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
